<div class="bg-gray-500 flex flex-1">
  <input type="text" placeholder="Search ►" class="p-5 flex-1 outline-none border">
</div>

<div class="p-5">
  <h1 class="text-3xl">Recommended playlists</h1>

  <div class="playlists flex flex-wrap mb-20">
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
  </div>


  <h1 class="text-3xl">Recommended playlists</h1>

  <div class="playlists flex flex-wrap mb-20">
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
  </div>

  <h1 class="text-3xl">Recommended playlists</h1>

  <div class="playlists flex flex-wrap mb-20">
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
    <SlCard />
  </div>
</div>
