<div class="bg-gray-500 flex flex-1">
  <input type="text" placeholder="Search" class="p-5 flex-1 outline-none border">
</div>

<div class="p-5">
  {{#each model as |item|}}
    <h1 class="text-3xl">{{item.name}}</h1>

    <div class="playlists flex flex-wrap mb-20">
      {{#each item.items as |album|}}
        <SlCard @id={{album.id}} @name={{album.name}} @image={{album.image}}/>
      {{/each}}
    </div>
  {{/each}}
</div>
